body {
     font-size: 16px;
     height: 1000vh;
     font-family: 'Montserrat',
     sans-serif;
}
p, ul, li {
    margin: 0;
    padding: 0;
}
.header {
    color: white;
    width: 100%;
    height: 136px;
     background-image: linear-gradient(to right, #5900b1, rgba(168, 129, 253, 0.5)),
     url(https://wikium.ru/games_build/images/dfa5695938b3bf438aa3e7e69eeea005.svg);
    background-size: 100%;
    border-radius: 8px 8px 0 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
.header__title {
    font-size: 36px;
    font-weight: 800;
}
.header__subtitle {
    font-size: 18px;
}
.main-block {
    width: 722px;
    height: 492px;
    background-color:white;
    border-radius: 8px;
    text-align: center;
    position: relative;
    padding: 30px 45px 32px;
    -webkit-box-shadow: 0px 3px 7px -1px rgba(34, 60, 80, 0.22);
    -moz-box-shadow: 0px 3px 7px -1px rgba(34, 60, 80, 0.22);
    box-shadow: 0px 3px 7px -1px rgba(34, 60, 80, 0.22);
}
.inner-block {
margin-bottom: 60px;
}
.inner-block__title {
    color: #8f4af9;
    margin-top: 130px;
}
.inner-block__list-li {
    margin-left: 100px;
    padding-left: 20px;
    margin-bottom: 20px;
    text-align: left;
    font-size: 16px;
}
.inner-block__list-title {
    font-weight: bold;
}
.li-1 {

      list-style-image: url(https://wikium.ru/games_build/images/128602f8e9250178e66479318c8b7908.svg);
}
.li-2 {
     list-style-image: url(https://wikium.ru/games_build/images/8a0a2eef3ba69c64fa45f22294026c25.svg);
}
.li-3 {
    list-style-image: url(https://wikium.ru/games_build/images/d781c1dd210d381e9ccab9d91c3f0a10.svg);
}
.main-block-btn {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    color: white;
    padding: 16px 50px;
    border-radius: 50px;
    max-width: 300px;
    border: 0px inset #3333;
    background-color: #6039aa;
}
.main-block-btn:hover {
    display: inline-block;
    color: #fff;
    background-color: #8061bb;
    box-shadow: 0 6px 16px 0 rgba(0, 0, 0, .2);
    transform: scale(1.02);
    transition: 0.2 s;
    cursor: pointer;
    transform: rotate3d(263deg);
}
.main-block-btn:active {
    background-color: #4d2e88;
}




.training-page {
    background-color: #4db8ec;
    min-width: 288px;
    height: 100%;
    
        
}
.training-page__press {
        align-self: center;
        width: 190px;
        padding-bottom: 30px;
        font-size: 14px;
        font-weight: 700;
        color: #fff;
}
.training-page__task {
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 485px;
    margin: auto auto;
    height: 102px;
    padding: 1.5em 1.2em;
    box-shadow: 0 7px 35px 0 rgba(0, 0, 0, .3);
    background: #4db8ec;
}
.training-page__task-text {
    font-size: 18px;
    font-weight: 600;
}
.training-page__task-number {
    font-size: 50px;
    font-weight: 600;
}
.cards-block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
.div-0,
.div-1,
.div-2,
.div-3,
.div-4,
.div-5,
.div-6 {
color: #fff;
font-size:45px;
font-weight: 600;
}

