body {
     font-size: 16px;
     height: 1000vh;
     font-family: 'Montserrat',
     sans-serif;
}
p, ul, li {
    margin: 0;
    padding: 0;
}

@keyframes rotate {
    25% {
        transform: rotate(-15deg);
    }
    50% {
        transform: rotate(0);
    }
    75% {
        transform: rotate(15deg);
    }
    100% {
        transform: rotate(0);
    }
}
@keyframes scale {
    100% {
        transform: scale(.4);
    }
}
@keyframes blink {
    100% {
        opacity: 0;
    }
}

.rotate {
    animation: rotate .6s linear infinite;
    animation-delay: .4s;
}

.scale {
    animation: scale .4s ease-in infinite alternate;
    animation-delay: .4s;
}

.blink {
    animation: blink .4s ease-in infinite alternate;
    animation-delay: .4s;
}


.header {
    color: white;
    width: 100%;
    height: 136px;
     background-image: linear-gradient(to right, #5900b1, rgba(168, 129, 253, 0.5)),
     url(https://wikium.ru/games_build/images/dfa5695938b3bf438aa3e7e69eeea005.svg);
    background-size: 100%;
    border-radius: 8px 8px 0 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}




.header__title {
    font-size: 36px;
    font-weight: 800;
}
.header__subtitle {
    font-size: 18px;
}
.main-block {
    width: 722px;
    height: 492px;
    background-color:white;
    border-radius: 8px;
    text-align: center;
    position: relative;
    padding: 30px 45px 32px;
    box-shadow: 0px 3px 7px -1px rgba(34, 60, 80, 0.22);
}
.inner-block {
margin-bottom: 60px;
}
.inner-block__title {
    color: #8f4af9;
    margin-top: 130px;
}
.inner-block__list-li {
    margin-left: 100px;
    padding-left: 20px;
    margin-bottom: 20px;
    text-align: left;
    font-size: 16px;
}
.inner-block__list-title {
    font-weight: bold;
}
.li-1 {

      list-style-image: url(https://wikium.ru/games_build/images/128602f8e9250178e66479318c8b7908.svg);
}
.li-2 {
     list-style-image: url(https://wikium.ru/games_build/images/8a0a2eef3ba69c64fa45f22294026c25.svg);
}
.li-3 {
    list-style-image: url(https://wikium.ru/games_build/images/d781c1dd210d381e9ccab9d91c3f0a10.svg);
}
.main-block-btn {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    color: white;
    padding: 16px 50px;
    border-radius: 50px;
    max-width: 300px;
    border: 0px inset #3333;
    background-color: #6039aa;
}
.main-block-btn:hover {
    display: inline-block;
    color: #fff;
    background-color: #8061bb;
    box-shadow: 0 6px 16px 0 rgba(0, 0, 0, .2);
    transform: scale(1.02);
    transition: 0.2 s;
    cursor: pointer;
    transform: rotate3d(263deg);
}
.main-block-btn:active {
    background-color: #4d2e88;
}


.training-page {
    background-color: #4db8ec;
    width: 100%;
    height: 100%;
    padding-top: 60px;
    box-sizing: border-box;
    
        
}
.training-page__press {
    align-self: center;
    width: 190px;
    padding-bottom: 30px;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    position: absolute;
    bottom: 34px;
    right: 38%;       
}
.training-page__task {
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 449px;
    margin: auto auto;
    height: 70px;
    padding: 1.3em 1.1em;
    box-shadow: 0 7px 35px 0 rgba(0, 0, 0, .3);
    background: #4db8ec;
    margin-bottom: 25px;
}
.training-page__task-text {
    font-size: 18px;
    font-weight: 600;
}
.training-page__task-number {
    font-size: 50px;
    font-weight: 600;
}
.cards-block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0px 123px;
    position: relative;
    width: 66%;

}
.cards-block__arm {
    position: absolute;
    left: 189px;
    z-index: 10;
    top: 293px;
}
.div-0,
.div-1,
.div-2,
.div-3,
.div-4,
.div-5,
.div-6 {
color: #fff;
font-size:45px;
font-weight: 600;
margin-bottom: 25px;
width: 28%;
height: 83px;
display: flex;
align-items: center;
justify-content: center;
opacity: 0.5;
}

.div-0 {
    cursor: pointer;
    opacity: 1;
}

.first-page {
    display: block;
}
.second-page {
    display: none;
}
.third-page {
    display: none;
}
.game-page {
    display: none;
}

.counter-page {
    width: 100%;
    height: 100%;
    background-color: #1F4A5E;
}
.counter {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pCount {
    color: white;
    font-size: 50px;
    font-weight: 600;
    width: 100px;
    height: 100px;
    background-color: #63818F;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game-field-container {
  background-color: #4db8ec;
  padding-top: 60px;
  box-sizing: border-box;
  height: 100%;
  position: relative;
}
.game-field {
       position: absolute;
        bottom: 24px;
        left: 63px;
       width: 100%;
       padding: 25px;
       box-sizing: border-box;
       display: grid;
       grid-template-columns: repeat(3, 0fr);
       grid-template-rows: repeat(2, 0fr);
       grid-column-gap: 20px;
       grid-row-gap: 20px;
}
.game-field-menu {
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 32px;
        width: 450px;
        padding: 0 16px;
        background-color: hsla(0, 0%, 100%, .4);
        color: #333;
        z-index: 11;
}
.game-field-menu-title-text {
    font-size: 7px;
    font-weight: 600;
}

.game-field-menu-title-inner-text {
        font-weight: 900;
        font-size: 12px;
}

.gameCards {
    color: #fff;
    font-size: 40px;
    font-weight: 600;
    height: 96px;
    width: 162px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2%;
    
}

.gameCards:hover {
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, .3);
}
#toFindWhat {
    font-size: 50px;
    padding-left: 60px;
}

.result-page {
    display: none;
}

.result-header {
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.6);
    background-image:  url(https://wikium.ru/games_build/images/dfa5695938b3bf438aa3e7e69eeea005.svg);
    background-size: 100%;
    padding: 20px;
    position: relative;
}

.result-page-title {
    color: #fff;
    position: relative;
    z-index: 60;
    font-size: 2.3em;
    font-weight: 300;
    line-height: 1;
    
}
.result-page-content {
    position: absolute;
    top: 250px;
    left: 200px;
}
.result-page-content-results {
    color: #3F3F3F;
    font-weight: 700;
}
.result-page-content-wrapper {
        width: 300px;
        color: #999;
        text-align: left;
        display: flex;
        justify-content: space-between;
        padding-bottom: 25px;
}
.bonus-point-circle {
        display: inline-block;
        width: 6px;
        height: 6px;
        margin-right: 2px;
        border-radius: 50%;
        border: 1px solid #333
}
.circle-1 {
        background-color: #333
}
